.font1 { color:red;	font-weight: bold; }

/* 테투리만 있는 글상자 */
.textBox1 { border-style: solid; border-width: 2px; padding: 12px; word-break: break-all; border-color: LightSalmon; }

/* 테투리 + 배경색 있는 글상자 */
.textBox2 { border-style: solid; border-width: 2px; padding: 12px; word-break: break-all; border-color: LightGray; background-color:rgba(211, 211, 211, 0.2); } 

/* 왼쪽만 굵은선이 있는 글상자 */
.textBox3 { border-style: solid; border-width: 0 0 0 8px; padding: 12px; word-break: break-all; border-color: Tomato; } 

/* 왼쪽만 굵은선이 있고 배경색이 있는 글상자 */
.textBox4 { border-style: solid; border-width: 0 0 0 8px; padding: 12px; word-break: break-all; border-color: DodgerBlue; background-color:rgba(30, 144, 255, 0.2); }

/* 왼쪽만 굵은선, 아래에 얇은선 있는 글상자 */
.textBox5 { border-style: solid; border-width: 0 0 2px 8px; padding: 12px; word-break: break-all; border-color: Tomato; }

/* 왼쪽만 굵은선, 나머지 테투리 얇은선 글상자 */
.textBox6 { border-style: solid; border-width: 2px 2px 2px 8px; padding: 12px; word-break: break-all; border-color: LightGray;}

/* 왼쪽만 굵은선, 나머지 테투리 얇은선, 배경색 있는 글상자 */
.textBox7 { border-style: solid; border-width: 2px 2px 2px 8px; padding: 12px; word-break: break-all; border-color: LightGray; background-color:rgba(211, 211, 211, 0.2); }

.table1,.th1,.td1 {
	border: 1px solid black; /* 1픽셀짜리 테두리 */
	border-collapse: collapse; /* 중복되는 테두리를 한 줄로 표시 */
}

.th1,.td1 {
	padding: 15px; /* 셀 테두리와 내용 사이의 여백 */
}

.table2, .th2, .td2 { 
			border:1px solid gray;  /* 표의 테두리 - 1px 회색 실선 */
			border-collapse:collapse;  /* 표 테두리와 셀 테두리 합치기 */
}
.th2, .td2 {
	width:100px;  /* 셀 너비 */
	padding:5px;  /* 셀 패딩(테두리와 내용 사이의 여백) */
}
.caption1 {
	font-size:20px;  /* 표 설명글 글자 크기 */
	margin:10px;  /* 표 설명글 주변 여백 */
	font-weight:bold;  /* 표 설명글 글자 굵게 */
}