.font1 { color:red;	font-weight: bold; }

/* 테투리만 있는 글상자 */
.textBox1 {	border-style: solid; border-width: 2px; padding: 12px; word-break: break-all; border-color: LightSalmon; }

/* 테투리 + 배경색 있는 글상자 */
.textBox2 { border-style: solid; border-width: 2px; padding: 12px; word-break: break-all; border-color: LightGray; background-color:rgba(211, 211, 211, 0.2); } 

/* 왼쪽만 굵은선이 있는 글상자 */
.textBox3 { border-style: solid; border-width: 0 0 0 8px; padding: 12px; word-break: break-all; border-color: Tomato; } 

/* 왼쪽만 굵은선이 있고 배경색이 있는 글상자 */
.textBox4 { border-style: solid; border-width: 0 0 0 8px; padding: 12px; word-break: break-all; border-color: DodgerBlue; background-color:rgba(30, 144, 255, 0.2); }

/* 왼쪽만 굵은선, 아래에 얇은선 있는 글상자 */
.textBox5 { border-style: solid; border-width: 0 0 2px 8px; padding: 12px; word-break: break-all; border-color: Tomato; }

/* 왼쪽만 굵은선, 나머지 테투리 얇은선 글상자 */
.textBox6 { border-style: solid; border-width: 2px 2px 2px 8px; padding: 12px; word-break: break-all; border-color: LightGray;}

/* 왼쪽만 굵은선, 나머지 테투리 얇은선, 배경색 있는 글상자 */
.textBox7 { border-style: solid; border-width: 2px 2px 2px 8px; padding: 12px; word-break: break-all; border-color: LightGray; background-color:rgba(211, 211, 211, 0.2); }

